@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fuente-montserrat:font-family: "Montserrat", serif;
    --fuente-krona:  font-family: "Krona One", serif;
    --fuente-roboto: font-family: "Roboto", sans-serif;
}

.body{
    box-sizing: border-box;
}

.header{
  background-color: white;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.logo{
    border-radius: 22%;
    height: 100px;
    margin: 10% 15% 10% 0;
}

.menuNavegacion{
    display: flex;
    gap: 1rem;
    padding: 0 0 0 15%;
}

.listaServicios{
    position: relative;
}

.menuLink{
    font-family: var(--fuente-roboto);
    font-weight: 600;
    font-size: 1.2rem;
    display: flex; 
    align-items: center; 
    text-decoration: none;
    color: #2B4162;
}

.menuLink:hover{
    color: #BBA030;
    transition-duration: 1s;
}

.listaServicios{
    display: flex; 
    align-items: center; 
}

.listaServicios > a.menuLink::after {
    content: " ▼";
    font-size: 0.6rem;
    margin-left: 0.3rem;
  }
  

.menuLinkServiciosDropdown{
    display: none;
    position: absolute;
    background: white;
    list-style: none;
    padding: 0 15px 15px 15px;
    top: 100%;   
    left: 0;
    width: 200px;

}

.listaServicios:hover .menuLinkServiciosDropdown {
    display: block;
  }

  .menuLinkServiciosDropdown > li{
   border-bottom: solid grey;
   height: auto;
   padding: 0;
  }


.listaServiciosMenu{
      display: flex;
      align-items: stretch;
      text-decoration: none;
      color: #2B4162;
      font-family: var(--fuente-roboto);
      font-weight: 600;
      font-size: 1rem;
      padding: 10px 10px 10px 0;
    }


.listaServiciosMenu:hover{
        color: #BBA030;
        transition-duration: 1s;
        background-color: white;
    }
