
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --fuente-montserrat:font-family: "Montserrat", serif;
    --fuente-krona:  font-family: "Krona One", serif;
    --fuente-roboto: font-family: "Roboto", sans-serif;
    --fuente-openS: font-family: "Open Sans", sans-serif;

}



body{
    box-sizing: border-box;
    background-color: rgb(250, 250, 250);
    height: 100%;
    width: 100%;
}

.btn-wsp{
  position:fixed;
  width:60px;
  height:60px;
  line-height: 63px;
  bottom:25px;
  right:25px;
  background:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:35px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  z-index:100;
  transition: all 300ms ease;
}
.btn-wsp:hover{
  background: #20ba5a;
  transform: scale(1.1);
}
@media only screen and (min-width:320px) and (max-width:768px){
  .btn-wsp{
      width:63px;
      height:63px;
      line-height: 66px;
}
}

main{
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
  width: 100%;
}

.header{
  box-sizing: border-box;
   background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 110px; 
    position: fixed;
    transition: all .3s ease
    
}



.menu{
    display: flex;
    justify-content: space-evenly;
    transition: all .3s ease

}

.navContainer{
  display: flex;
  justify-content: space-evenly;
  gap: 30vw;
  width: auto;
  transition: all .3s ease

}

.header.shrink .menu{
  box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
  transition: all .3s ease

}



.logo{
    height: 90px;
    margin: 5% 15% 5% 0;
    transition: height .3s ease
}

.header.shrink {
  height: auto;
  transition: all .3s ease

}

.header.shrink .logo {
  height: 70px;  
  margin: 5px 15% 5px 0;
  transition: height .3s ease

}

.menuNavegacion{
    display: flex;
    gap: 1rem;
    padding: 0 0 0 15%;
    transition: all .3s ease

}

.centrarMenuResponsive{
  display: flex;
  gap: 1rem;
}

.header.shrink.menuNavegacion {
padding: auto;

}

.listaServicios{
    position: relative;
}

.menuLink{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    display: flex; 
    align-items: center; 
    text-decoration: none;
    color: #444444;
    transition-duration: .3s;
}


.menuLink:hover{
    color: #4c89b9;
    transition-duration: .5s;
}

.header.shrink .menuLink {
  transition-duration: .3s;
}

.listaServicios{
    display: flex; 
    align-items: center; 
}

.listaServicios:hover .menuLink{
    color: #4c89b9;
    transition-duration: .5s;
}

.listaServicios > a.menuLink::after {
    content: " ▼";
    padding-top: .25rem;
    font-size: 0.6rem;
    margin-left: 0.3rem;
  }
  

.menuLinkServiciosDropdown{
    display: none;
    position: absolute;
    background: white;
    list-style: none;
    padding: 0 15px 15px 15px;
    top: 100%;   
    left: 0;
    width: 200px;
    z-index: 1;
    border-top: 4px solid #6cbfff;
}

.listaServicios:hover .menuLinkServiciosDropdown {
    display: block;
  }

  .menuLinkServiciosDropdown > li{
   border-bottom: solid grey;
   height: auto;
   padding: 0;
  }


.listaServiciosMenu{
      display: flex;
      align-items: stretch;
      text-decoration: none;
      color: rgba(21, 26, 50, 0.8);
      font-family: "Roboto", sans-serif;
      font-weight: 450;
      font-size: 1rem;
      border-bottom: solid grey;
      padding: 10px 10px 10px 0;
    }


.listaServiciosMenu:hover{
        color: #4c89b9;;
        transition-duration: .5s;
        background-color: white;
    }

    .burger{
      flex-direction: column;
      cursor: pointer;
      display: none;
    }
    
    .line{
      width: 30px;
      height: 3px;
      background-color: #444444;
      margin: 3px 0;
    }

.header-spacer{
  height: 104.969px;
}

.heroContainer {
        background: url("../assets/hero.jpg") center center / cover no-repeat;
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 200px;
        margin-bottom: -10%;
    }

.heroContainer::before{
    content:"";
    background: rgb(0, 0, 0);
    /*background: linear-gradient(0deg, rgba(34,76,195,1) 0%, rgba(253,187,45,1) 100%);*/
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 0;
    }

.heroTituloSubtitulo{
  padding-top: 7%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.heroTitulo{
    color: rgba(255, 255, 255, .9);
    font-family: "Roboto Slab", serif;
    font-size: 4.5rem;
    letter-spacing: 3px;
    font-weight: 800;
    text-align: center;
    text-shadow: 3px 3px 0px #222, 3px 3px 0px grey;

    
}

.heroSubtitulo{

    color: white;
    font-family: "Montserrat", serif;  
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: 2px 2px 0px #222, 2px 2px 0px grey;
    
}

.waves {
    position: relative;
    width: 100%;
    height: 1vh;
    margin-bottom: -70px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
  }
  
  .content {
    position: relative;
    height: 1vh;
    text-align: center;
    background-color: white;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
  
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  
  /* /* Shrinking for mobile */
  @media (max-width: 768px) {
    .waves {
      height: 40px;
      min-height: 40px;
    }
  
    .content {
      height: 30vh;
    }
  
    h1 {
      font-size: 24px;
    }
  }


.infoDescuento{
    position: relative;
    width: auto;
    height: auto;
    background: rgb(11,113,195);
  /*background: linear-gradient(0deg, rgba(11,113,195,1) 30%, rgba(34,126,201,1) 36%, rgba(57,139,207,1) 42%, rgba(87,157,214,1) 50%, rgba(129,181,224,1) 61%, rgba(163,201,232,1) 70%, rgba(186,214,238,1) 76%, rgba(201,223,242,1) 80%, rgba(246,250,253,1) 92%, rgba(255,255,255,1) 100%);*/
  display: flex;
}



.contenidoInfoDescuento{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3%;
  
}


.gifBoton{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px
}

.gifPrueba{
  height: 30vh;
}

.textoDescuento{
  width: 450px;
}

.divisionHeroDescuento{
  display: inline-block;
  background-color: white;
  width: 20%;
  height: 2px;
  margin-bottom: 20px;
}

.linkServicios{
  z-index: 1;
  color: white;
  text-decoration: none;
}

.tituloDescuento{
  font-family: "Krona One", sans-serif;
font-weight: 700;
color: white;
font-size: 2rem;
margin-bottom: 30px;
text-decoration: none;
}


.infoTextoDescuento{

  font-family: "Montserrat", serif;  
  color: white;
  font-size: 1.2rem;
  font-weight: 200;
  margin-bottom: 30px;

}

strong{
  font-weight: 700;
}


.enhancedYellow{
  color: yellow;
}

#centrarTextoDescuento{
  text-align: center;
}

.botonWhats {
  display: flex;
  align-items: center;
  justify-content: center;
	position: relative;
	background-color: transparent;
	color: white;
  background-color: #25d366;
	border: 3px solid #25d366;
	transition: 0.4s ease-out;
  width: 250px;
  height: 80px;
}

.iconWhats {
  height: 1.9rem;     
  width: 1.9rem;
  margin-right: 8px;
  vertical-align: middle;
  position: relative;
  z-index: 2;
}

.botonWhats span {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
	position: relative;
	z-index: 2;
}

.botonWhats:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
	width: calc(100% + 2rem);
	height: calc(100% + 2rem);
	border-radius: 0.5rem;
	border: 3px solid lightslategray;
	opacity: 0;
	transition: 0.4s ease-out;
}

.botonWhats:hover {
	color: white;
	border-color: transparent;
  background-color: #20c05a;
  border-radius: 0.5rem;

}

.botonWhats:hover:after {
	width: 100%;
	height: 100%;
	opacity: 1;
	border-color: #20c05a;
}

.sobreEmpresaLp{
  width: auto;
  height: auto;
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  padding: 4%;
}

.imagenTrabajando{
  height: 60vh;
  border-radius: 5%;
  border: 4px solid white;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);

}

.contenidoSobreEmpresaLp{
  width: 38vw;
}

.divisionSobreEmpresa{
display: inline-block;
background-color: rgb(11,113,195);
width: 20%;
height: 2px;
margin-bottom: 20px;
}

.tituloSobreEmpresa{
font-family: "Open Sans", sans-serif;
font-weight: 700;
color: black;
font-size: 2rem;
margin-bottom: 30px;
}

.quote-divider {
  border-left: 4px solid #0b71c3; 
  padding-left: 10px; 
  margin-left: 20px; 
}
.infoTextoSobreEmpresa{

  font-family: "Montserrat", serif;  
  color: black;
  font-size: 1.2rem;
  font-weight: 100;
  margin-bottom: 30px;
}


.botonLeerMas {
  margin-top: 10px;
	background-image: linear-gradient(to right, rgb(11,113,195) 50%, rgb(79, 159, 224) 50%);
	background-size: 200%;
	transition: .4s ease-out;
  width: 150px;
  height: 50px;
  border: none;

  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  color: white;
	position: relative;
	z-index: 2;
}

.botonLeerMas:hover {
	background-position: right;
  transform: scale(1.05);

}

.botonLeerMas::after {
  content: ">";
  display: inline-block;
  margin-left: 8px;
  opacity: 0; 
  transition: opacity 0.3s ease;
}

.botonLeerMas:hover::after {
  opacity: 1; 
}

.divisorSecciones{
display: flex;
justify-content: center;
height: 35vh;
background-color: rgb(250, 250, 250);
}

.separador{
  position: absolute;
  z-index: 0;
}

#tituloServicios{
  margin-top: 2.8em;
  text-decoration: underline;
  text-underline-offset: .3em;
  transition: all .3s;
}

.serviciosContenedor{
  position: relative;
  height: auto;
  width: 100%;
  background-color: rgb(250, 250, 250);
}

.serviciosLista{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5% 2% 5% 2%;
  gap: 30px;
}

a{
  text-decoration: none;
}

.servicios{
  width: 420px;
  height: 200px;
  margin-bottom: 30px;
  background-size: cover;
  border-radius: 50px;
  border-style: none;
  background-repeat:no-repeat ;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}

.servicios::before{
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, .5);
  border-radius: 50px;
  z-index: 0;
  width: 420px;
  height: 200px;
}


.servicios:hover{
  transform: scale(1.02);
  box-shadow: 5px 10px 10px rgba(0,0,0,0.4);
}

.servicios:hover::before{
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.33);
  border-radius: 50px;
  z-index: 0;
}

.textoServiciosLista{
  position: relative;
  color: rgba(255, 255, 255);
  font-family: "Montserrat", serif;  
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}



.footer{
  box-sizing: border-box;
  height: auto;
  background: rgb(11,113,195);
  width: 100%;
}

.contenidoFooter{
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.informacionFooter{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-content: center;
  justify-content: center;
}


.informacionContenido{
  padding-top: 3vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.descripcionFooter{

  padding: 0 50px;
  
}


.categoriaFooter{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;

}

.iconoFooter{
  height: 40px;
}

.textoFooter{
  font-family: "Montserrat", serif;  
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.textoDescripcionFooter{
  margin-top: 10px;
  font-family: "Montserrat", serif;  
  color: white;
  font-size: 1rem;
  font-weight: 300;
  line-height: 25px;
  padding-left: 10px;
}

#textoDescripcionFooter1{
  text-align: center;
}

#textoDescripcionFooterAnticipo{
  text-decoration: underline;
  text-align: center;
}

.footerPagos{
  display: flex;
  justify-content: center;
}

.redes{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textoRedes{
font-family: "Montserrat", serif;  
color: white;
font-size: 1.5rem;
font-weight: 600;
margin-top: 20px;
margin-bottom: 30px;
}

.rssIcon{
  height: 40px;
  padding: 0 20px 0 20px;
  margin-bottom: 20px;
}

.rssIcon:hover{
  transform: scale(1.1);
}

.ubicacionMapa{

border-radius: 50px;
box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
margin-right: 5%;

}

#ubicacionMapaMobile{
  display: none;
}

.copyrightField{
  height: auto;
  background-color: rgb(145, 143, 143);
  width: auto;
  display: flex;
  justify-content: center;
}

.textoCopyright{
text-decoration: none;
font-family: "Roboto", sans-serif;
color: white; 
font-size: 1rem;
font-weight: 100;
padding: 2rem 0 2rem 0;
padding: 0 1%;
}

.linkCopyright{
  text-decoration: none;
  color: white; 
  font-weight: 300;

}


/* Responsive */

@media (max-width:1085px){


  .waves{
    display: none;
  }

  .contenidoSobreEmpresaLp{
    padding-right: 5%;
  }

  .divisorSecciones{
    display: flex;
    align-items: center;
    height: 15vh;
    background-color: #0b71c3;
    width: 100%;
  }

  #tituloServicios{
    margin: 0;
    transition: all .3s ease;
  }

  .serviciosLista{
    justify-content: center;}


    
    .separador{
      display: none;
    }
    
}

@media (min-width:769px) and (max-width:1146px){

  .textoDescuento{
    width: 40vw;
  }

  .informacionContenido{
    gap:40px;
  }

}

@media (max-width:768px){

.header{
transition: all .3s ease;
width: 100%;
}

.navContainer{
  position: relative;
  width: 100%;
}

.burger{
  display: flex;
  position: relative;
  padding-top: 40px;
  transition: all .3s ease;

}

.menuNavegacion{
  flex-direction: column;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #FFF;
  padding: 10px 0;
  display: none;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  transition: all .5s;

}

.menuNavegacion.active{
  transition: all .5s;
  display: flex;

}

.centrarMenuResponsive{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
  text-align: center;
}

.listaServicios > a.menuLink::after{
  display: none;
}

.menuLinkServiciosDropdown{
  display: none;
}

.header.shrink .logo {
  height: 78px;  
  margin: 0;
  transition: height .3s ease

}

.header.shrink .burger{
  padding-top: 28px;
  transition: all .3s ease
}

.waves{
  display: none;
}

.contenidoInfoDescuento{
  display: flex;
  flex-direction: column-reverse;
  height: auto;
  padding: 6% 0 6% 0;
}

.textoDescuento{
  width: 60vw;
}

.sobreEmpresaLp{
  display: flex;
  flex-direction: column;
  padding: 6% 0 6% 0;

}

.contenidoSobreEmpresaLp{
  padding-top: 5%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.contenidoFooter{
  flex-direction: column;
}

.informacionContenido{
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}

.descripcionFooter{
  align-items: center;
  text-align: center;

}

.ubicacionMapa{
  display: none;
}

#ubicacionMapaMobile{
  display: inline;
  margin-bottom: 5vh;
  margin-right: 0;
}

.textoCopyright{
  padding: 1rem 0 1rem 0;
  text-align: center;
}

}

@media (max-width:500px){


  .heroTituloSubtitulo{
    transform: scale(.85);
  }

  #tituloServicios{
font-size: 1.5rem;  }


  .serviciosLista{
    transform: scale(.8);
    padding: 0 2%;
  }

  .footerPagos{
    margin-right: 5%;
  }

  .textoCopyright{
    padding: 0 1%;
  }

}